footer {
  background-color: #ffffff;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding-top: 77px;
  padding-bottom: 80px;
}

.footer-nav {
  margin-top: 7px;
}

.footer-nav__item {
  margin-bottom: 12px;
}

.footer-nav__item a {
  font-size: 18px;
  color: #8993ad;
}

.footer-nav a:hover {
  color: #fc557c;
  text-decoration: underline;

  transition: 0.3s;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6px;
}

.contacts a {
  font-weight: 200;
  font-size: 25px;
}

.contacts a i {
  margin-right: 14px;

  color: #f26522;

  background-image: -webkit-linear-gradient(90deg, #f26522, #fa0891);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-animation: hue 60s infinite linear;
          animation: hue 60s infinite linear;

  -webkit-text-fill-color: transparent;
}

.mail {
  margin-top: 30px;
}

.social {
  margin-right: 22px;
}

.callback_footer {
  width: 248px;
  height: 45px;

  font-size: 16px;
}

.social__list {
  display: flex;
  align-items: flex-end;
  padding-top: 31px;
}

.social__list li {
  margin-right: 30px;

  cursor: pointer;
}

.social__item_vk {
  width: 32px;
  height: 21px;

  background-image: url("../img/css_sprites.png");
  background-position: -0 -5px;
}


.social__item_vk:hover {
  background-position: -32px -5px;
}

.social__item_fb {
  width: 16px;
  height: 28px;

  background-image: url("../img/css_sprites.png");
  background-position: -62px -0;
  background-size: cover;
}

.social__item_fb:hover {
  background-position: -90px -0;
}

.social__item_tw {
  width: 32px;
  height: 30px;

  background-image: url("../img/css_sprites.png");
  background-position: -128px -0;
}

.social__item_tw:hover {
  background-position: -160px -0;
}

.social__item_in {
  width: 32px;
  height: 32px;

  background-image: url("../img/css_sprites.png");
  background-position: -224px -0;
}

.social__item_in:hover {
  background-position: -192px -0;
}

@media (max-width: 1024px) {
  .footer_container {
    padding-top: 100px;
  }

  .footer-nav__item a {
    font-size: calc(15px + 3 * ((100vw - 320px) / (1024 - 320)));
  }

  .contacts {
    margin-right: -55px;
  }

  .contacts a {
    font-size: calc(20px + 5 * ((100vw - 320px) / (1024 - 320)));
  }

  .social {
    margin-right: 0;
  }
}

@media (max-width: 850px) {
  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 80px;
  }

  .footer-nav {
    margin-bottom: 20px;
  }

  .mail {
    margin-top: 25px;
  }

  .footer-nav__item {
    margin-bottom: 15px;
  }

  .contacts {
    max-width: 100%;
  }

  .contacts a {
    color: #8993ad;
  }

  .contacts a i {
    font-size: 14px;
  }

  .callback_footer {
    width: 100%;
    height: 55px;
    margin-top: 25px;

    font-size: calc(16px + 2 * ((100vw - 320px) / (1024 - 320)));
  }

  .social__list {
    padding-top: 46px;
  }
}
